{% extends "base.html" %} {% block title %}New Dish{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Add new dish</h3>
    <div class="form=group">
        <label for="dishname">Name of dish</label>
        <input type="text" class="form-control" id="dishname" name="dishname" placeholder="enter name"/>
    </div>
    <div class="form=group">
        <label for="dishcost">The cost</label>
        <input type="number" class="form-control" id="dishcost" name="dishcost" placeholder="enter the cost"/>
    </div>
    <div class="form=group">
        <label for="dishsold">Is the item sold</label><br/>
        <input type="checkbox" class="form-control" id="dishsold" name="dishsold"/>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}