{% extends "base.html" %} {% block title %}New Dish{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Add new dish</h3>
    <div class="form=group">
        <label for="dishname">Name of dish</label>
        <input type="text" class="form-control" id="dishname" name="dishname" placeholder="enter name"/>
    </div>
    <div class="form=group">
        <label for="dishcost">The cost</label>
        <input type="number" class="form-control" id="dishcost" name="dishcost" placeholder="enter the cost"/>
    </div>
    <div class="form=group">
        <label for="dishCategory">Dish category (e.g. main dish, appetizer...)</label>
        <input type="text" class="form-control" id="dishCategory" name="dishCategory" placeholder="enter the category"/>
    </div>
    <div class="form=group">
        <label for="dishsold">Is the item sold</label><br/>
        <input type="checkbox" class="form-control" id="dishsold" name="dishsold"/>
    </div>
    <div class="form=group">
        <label for="dishvegan">Is the dish vegan</label><br/>
        <input type="checkbox" class="form-control" id="dishvegan" name="dishvegan"/>
    </div>
    <div class="form=group">
        <label for="dishKosher">Is the dish kosher</label><br/>
        <input type="checkbox" class="form-control" id="dishKosher" name="dishKosher"/>
    </div>
    <div class="form=group">
        <label for="dishHalal">Is the dish halal</label><br/>
        <input type="checkbox" class="form-control" id="dishHalal" name="dishHalal"/>
    </div>
    <div class="form=group">
        <label for="dishIngredients">Dish ingredients</label>
        <input type="text" class="form-control" id="dishIngredients" name="dishIngredients" placeholder="describe the ingredients"/>
    </div>
    <div class="form=group">
        <label for="dishAlergens">Alergens present in the dish</label>
        <input type="text" class="form-control" id="dishAlergens" name="dishAlergens" placeholder="enter the alergens"/>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}