*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    margin: 0;
    background-color: white;
}
.container {
    background-color: white;
}
html {
    color-scheme: white;
    background-color: white;
}

.wrapper {
    color: black;
    margin-inline: auto;
    padding-block: 1rem;
    padding-left: 1rem;
    border: 5px groove #000000;
    border-radius: 35px;
    height: 300px;
    background-color: lightblue;
}

.spacebetween{
    padding-block: 0.3rem;
}
.image {
    float: left;
    width: 20%;
    height: 200px;
}
.dishtext {
    float: right;
    width: 80%;
    height: 200px;
}

.nextto {
    size: auto;
}
.dishtext-text{
    float: left;
    width: 50%;
    height: 70px;
    word-wrap: normal;
    overflow: hidden;
}

.dishtext-rating{
    float: right;
    width: 50%;
    height: 200px;
    text-align: right;
    padding-right: 2rem;
    padding-top: 2rem;
}
.rate-padding{
    float: left;
    width: 30%;
}
/*STAR RATING -----------------------------*/
.rate {
    float: right;
    width: 70%;
    height: 200px;
    padding: 0 10px;
    position: relative;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:40px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.ratebtn {
    position: absolute;
    float: right;
    bottom: 100px;
    right: 85px;
}