{% extends "base.html" %} {% block title %}Edit Dish{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Edit dish</h3>
    <div class="form=group">
        <label for="dishname">Name of dish</label>
        <input type="text" class="form-control" id="dishname" name="dishname" value="{{Dish.Name}}"/>
    </div>
    <div class="form=group">
        <label for="dishcost">The cost</label>
        <input type="number" class="form-control" id="dishcost" name="dishcost" value="{{Dish.Price}}"/>
    </div>
    <div class="form=group">
        <label for="dishIngredients">Dish ingredients</label>
        <input type="text" class="form-control" id="dishIngredients" name="dishIngredients" value="{{Dish.Ingredients}}"/>
    </div>
    <div class="form=group">
        <label for="dishsold">Is the item avalible</label><br/>
        <input type="checkbox" class="form-control" id="dishsold" name="dishsold" {% if Dish.Avalible %}checked{% endif %}/>
    </div>
    <div class="kategoria">
        <label for="kategoria">Kategoria</label><br>
        <input type="checkbox" class="radio" id="c1" name="category" value="Przystawki" onCLick="onlyOne(this)" {% if Categories[0] %}checked{% endif %}>
        <label for="vehicle1"> Przystawki</label>
        <input type="checkbox" class="radio" id="c3" name="category" value="Zupy" onCLick="onlyOne(this)" {% if Categories[1] %}checked{% endif %}>
        <label for="vehicle2"> Zupy</label>
        <input type="checkbox" class="radio" id="c3" name="category" value="Dania Główne" onCLick="onlyOne(this)" {% if Categories[2] %}checked{% endif %}>
        <label for="vehicle2"> Dania główne</label>
        <input type="checkbox" class="radio" id="c3" name="category" value="Pizza" onCLick="onlyOne(this)" {% if Categories[3] %}checked{% endif %}>
        <label for="vehicle2"> Pizza</label>
        <input type="checkbox" class="radio" id="c5" name="category" value="Dla dzieci" onCLick="onlyOne(this)" {% if Categories[4] %}checked{% endif %}>
        <label for="vehicle2"> Dla dzieci</label>
        <input type="checkbox" class="radio" id="c4" name="category" value="Desery" onCLick="onlyOne(this)" {% if Categories[5] %}checked{% endif %}>
        <label for="vehicle2"> Desery</label>
        <input type="checkbox" class="radio" id="c5" name="category" value="Napoje" onCLick="onlyOne(this)" {% if Categories[6] %}checked{% endif %}>
        <label for="vehicle2"> Napoje</label>
        
    </div>
    <div class="alegee">
        <label for="alegee">Alergeny</label><br>
        <input type="checkbox" id="a1" name="a1" {% if Alergeny[0] %}checked{% endif %}>
        <label for="vehicle1"> Pszenica</label >
        <input type="checkbox" id="a2" name="a2" {% if Alergeny[1] %}checked{% endif %}>
        <label for="vehicle2"> Laktoza</label>
        <input type="checkbox" id="a3" name="a3" {% if Alergeny[2] %}checked{% endif %}>
        <label for="vehicle3"> Jajka</label>
        <input type="checkbox" id="a4" name="a4" {% if Alergeny[3] %}checked{% endif %}>
        <label for="vehicle3"> Ryby</label>
        <input type="checkbox" id="a5" name="a5" {% if Alergeny[4] %}checked{% endif %}>
        <label for="vehicle3"> Skorupiaki</label>
        <input type="checkbox" id="a6" name="a6" {% if Alergeny[5] %}checked{% endif %}>
        <label for="vehicle3"> Orzechy</label>
        <input type="checkbox" id="a7" name="a7" {% if Alergeny[6] %}checked{% endif %}>
        <label for="vehicle3"> Soja</label>
        <input type="checkbox" id="a8" name="a8" {% if Alergeny[7] %}checked{% endif %}>
        <label for="vehicle3"> Mięczaki</label>
        <input type="checkbox" id="a9" name="a9" {% if Alergeny[8] %}checked{% endif %}>
        <label for="vehicle3"> Sezam</label>
        <input type="checkbox" id="a10" name="a10" {% if Alergeny[9] %}checked{% endif %}>
        <label for="vehicle3"> Seler</label>
        <input type="checkbox" id="a11" name="a11" {% if Alergeny[10] %}checked{% endif %}>
        <label for="vehicle3"> Orzechy arachidowe</label>
    </div>
    <div class="atrybuty">
        <label for="atrybuty">Atrybuty</label><br>
        <input type="checkbox" id="b1" name="b1" {% if Dish.Vege %}checked{% endif %}>
        <label for="vehicle1"> Vege</label>
        <input type="checkbox" id="b2" name="b2" {% if Dish.Kosher %}checked{% endif %}>
        <label for="vehicle2"> Koszer</label>
        <input type="checkbox" id="b3" name="b3" {% if Dish.Halal %}checked{% endif %}>
        <label for="vehicle2"> Halal</label>
    </div>
    <div class="form=group">
        <label for="dishname">Dish Image</label>
        <input type="text" class="form-control" id="dishimg" name="dishimg" value="{{Dish.pictureUrl}}"/>
    </div>
    <br/>
    <button type="submit" name="button" id="button" value="1" class="btn btn-primary">Submit</button>
    <button type="submit" name="button" id="button" value="2" class="btn btn-danger">Delete</button>
</form>
{% endblock %}

